<nav class="navbar fixed-top navbar-expand-lg navbar-dark mynav">
    <div class="container">
        <div id="main">    
            <a class="navbar-brand" href="#">
                <h3 class="my-heading font-weight-bold">Exámen inicial TEA<span class="bg-main"></span></h3>
            </a>
        </div>
        <app-navbar></app-navbar>
    </div>
</nav>

<div class="slider-top-text body">
    <header class="masthead">
        <div class="col-xs-12 contenido">
            <section>
                <div class="container">
                    <div class="row">
                        <div class="board">
                            <div class="board-inner">
                            <ul class="nav nav-tabs" id="myTab">
                                
                                <li class="">
                                    <a data-target="#Motricidad_fina" data-toggle="tab" title="Motricidad_fina">
                                        <span class="round-tabs">
                                            Motricidad fina
                                        </span> 
                                    </a>
                                </li>
            
                                <li>
                                    <a data-target="#Imitación" data-toggle="tab" title="Imitación">
                                        <span class="round-tabs">
                                            Imitación
                                        </span>
                                    </a>
                                </li>

                                <li>
                                    <a data-target="#Cognición" data-toggle="tab" title="Cognición">
                                        <span class="round-tabs">
                                            Cognición
                                        </span>
                                    </a>
                                </li>
                                
                            </ul></div>
        
                            <div class="tab-content">
                                
                                <div class="tab-pane fade in active" id="Motricidad_fina">
                                    <div class="btn-group linea">
                                        <a [routerLink]="[ '/area_nivel' ]" type="button" class="btn btn-nav button">
                                            <span class="round-tabs one"><i class="fa fa-star icon"></i> Nivel 1 </span>
                                        </a>
                                    </div>

                                    <div class="btn-group linea">
                                        <button type="button" class="btn btn-nav button">
                                            <span class="round-tabs one"><i class="fa fa-star icon"></i> Nivel 2 </span>
                                        </button>
                                    </div>

                                    <div class="btn-group linea">
                                        <button type="button" class="btn btn-nav button">
                                            <span class="round-tabs one"><i class="fa fa-star icon"></i> Nivel 3 </span>
                                        </button>
                                    </div>

                                    <div class="btn-group linea">
                                        <button type="button" class="btn btn-nav button">
                                            <span class="round-tabs one"><i class="fa fa-star icon"></i> Nivel 4 </span>
                                        </button>
                                    </div>

                                    <div class="btn-group linea">
                                        <button type="button" class="btn btn-nav button">
                                            <span class="round-tabs one"><i class="fa fa-star icon"></i> Nivel 5 </span>
                                        </button>
                                    </div>
                                </div>
                                
                                <div class="tab-pane fade in active" id="Imitación">
                                    <div class="btn-group linea">
                                        <button type="button" class="btn btn-nav button">
                                            <span class="round-tabs one"><i class="fa fa-star icon"></i> Nivel 1 </span>
                                        </button>
                                    </div>

                                    <div class="btn-group linea">
                                        <button type="button" class="btn btn-nav button">
                                            <span class="round-tabs one"><i class="fa fa-star icon"></i> Nivel 2 </span>
                                        </button>
                                    </div>

                                    <div class="btn-group linea">
                                        <button type="button" class="btn btn-nav button">
                                            <span class="round-tabs one"><i class="fa fa-star icon"></i> Nivel 3 </span>
                                        </button>
                                    </div>

                                    <div class="btn-group linea">
                                        <button type="button" class="btn btn-nav button">
                                            <span class="round-tabs one"><i class="fa fa-star icon"></i> Nivel 4 </span>
                                        </button>
                                    </div>

                                    <div class="btn-group linea">
                                        <button type="button" class="btn btn-nav button">
                                            <span class="round-tabs one"><i class="fa fa-star icon"></i> Nivel 5 </span>
                                        </button>
                                    </div>
                                </div>


                                <div class="tab-pane fade in active" id="Cognición">
                                    <div class="btn-group linea">
                                        <button type="button" class="btn btn-nav button">
                                            <span class="round-tabs one"><i class="fa fa-star icon"></i> Nivel 1 </span>
                                        </button>
                                    </div>

                                    <div class="btn-group linea">
                                        <button type="button" class="btn btn-nav button">
                                            <span class="round-tabs one"><i class="fa fa-star icon"></i> Nivel 2 </span>
                                        </button>
                                    </div>

                                    <div class="btn-group linea">
                                        <button type="button" class="btn btn-nav button">
                                            <span class="round-tabs one"><i class="fa fa-star icon"></i> Nivel 3 </span>
                                        </button>
                                    </div>

                                    <div class="btn-group linea">
                                        <button type="button" class="btn btn-nav button">
                                            <span class="round-tabs one"><i class="fa fa-star icon"></i> Nivel 4 </span>
                                        </button>
                                    </div>

                                    <div class="btn-group linea">
                                        <button type="button" class="btn btn-nav button">
                                            <span class="round-tabs one"><i class="fa fa-star icon"></i> Nivel 5 </span>
                                        </button>
                                    </div>
                                </div>

                                <div class="clearfix"></div>
                            </div>
        
                        </div>
                    </div>
                </div>
            </section>

                



        </div>
    </header>
</div>