<nav class="navbar fixed-top navbar-expand-lg navbar-dark mynav">
    <div class="container page-wrapper chiller-theme toggled">
        <div id="main">    
            <a class="navbar-brand" href="#">
                <h3 class="my-heading font-weight-bold">Pacientes<span class="bg-main"></span></h3>
            </a>
        </div>
        <app-navbar></app-navbar>
    </div>
</nav>


<div class="page-wrapper chiller-theme toggled">
    <main class="page-content">
        <div class="container-fluid my_margin">
            <section>
                <div class="container">
                    <div class="row">
                        <div class="board">
                            <div class="board-inner">
                            <ul class="nav nav-tabs" id="myTab">
                               
                                <li class="">
                                    <a data-target="#uno" data-toggle="tab" title="welcome">
                                        <span class="round-tabs">
                                            Coordinador/a
                                        </span> 
                                    </a>
                                </li>
            
                                <li>
                                    <a data-target="#dos" data-toggle="tab" title="completed">
                                        <span class="round-tabs">
                                            Terapista
                                        </span>
                                    </a>
                                </li>
                             
                            </ul></div>
        
                            <div class="tab-content">
                                
                                <div class="tab-pane fade in active" id="uno">
                                    <div class="btn-group linea">
                                        <button type="button" class="btn btn-nav button">
                                            <span class="round-tabs one"><i class="fa fa-user"></i> Paciente 1 </span>
                                            <p class=""> 3 años </p>
                                        </button>
                                    </div>
                                </div>
                              
                                <div class="tab-pane fade in active" id="dos">
                                    <div class="btn-group linea">
                                        <button type="button" class="btn btn-nav button">
                                            <span class="round-tabs one"><i class="fa fa-user"></i> Paciente 2 </span>
                                            <p class=""> 2 años </p>
                                        </button>
                                    </div>
                                </div>

                                <div class="clearfix"></div>
                            </div>
        
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
</div>