<nav class="navbar fixed-top navbar-expand-lg navbar-dark mynav">
    <div class="container">
        <div id="main">    
            <a class="navbar-brand" href="#">
                <h3 class="my-heading ">Exámen inicial TEA<span class="bg-main"></span></h3>
            </a>
        </div>
        <app-navbar></app-navbar>
    </div>
</nav>


<div class="slider-top-text body">
    <header class="masthead">
        <div class="col-xs-12 contenido">
           
            <div class="col-md-12 col-md-offset-1">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="text-center">Motricidad fina - Nivel 1</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="col-md-12">
                            <div class="media">

                                <select class="custom-select selection" name="calificacion" id="calificacion">
                                    <option value="+">+</option>
                                    <option value="+/-">+/-</option>
                                    <option value="-">-</option>
                                    <option value="P">P</option>
                                </select>

                                <div class="media-body overflow-auto">
                                    <p class="media-heading text-center"> Apila 8/10 bloques de 3cm. </p>
                                </div>
                                
                            
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal">
                                <span class="fa fa-comment"></span>
                            </button>

                            </div>
                        </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        
        </div>
    </header>
</div>

<app-comentario></app-comentario>