<nav class="navbar fixed-top navbar-expand-lg navbar-dark mynav">
    <div class="container">
        <div id="main">    
            <a class="navbar-brand" href="#">
                <h3 class="my-heading ">Autism<span class="bg-main">App</span></h3>
            </a>
        </div>
    
        <app-navbar></app-navbar>
    </div>
</nav>

<!-- <div class="overlay"></div> -->
<div class="slider-top-text body">
    <!-- <div class="row"> -->
    <header class="masthead text-white">
        <div class="col-md-12 text-center">
            <img class="img-fluid image" src="../../../assets/images/children.png" alt="Chiques en ronda tomades de las manos">
            <div class="text-center">
                <ul class="navbar-nav ml-auto text-center">
                    <li class="nav-link marge">
                        <a class="btn btn-block btn-home" href="/login">Iniciar sesión</a>
                    </li>
                    <li class="nav-link marge">
                        <a class="btn btn-block btn-home" href="/register">Registrarme</a>
                    </li>
                </ul>
            </div>
        </div>
    <!-- </div> -->
    </header>
</div>
