<nav class="navbar fixed-top navbar-expand-lg navbar-dark mynav">
    <div class="container">
        <div id="main">
            <!-- <a href="javascript:void(0)" class="openNav"><span class="fa fa-bars" onclick="openNav()"></span></a> -->
        
            <a class="navbar-brand" href="#">
                <h3 class="my-heading ">Autism<span class="bg-main">App</span></h3>
            </a>
        </div>
        

        <app-navbar></app-navbar>

        <!-- <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fa fa-bars mfa-white"></span>
        </button>
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
            <ul class="mob-ul">
                <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#">About</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Register</a></li>
            </ul> 
        </div>-->
    </div>
</nav>

<!-- <div class="overlay"></div> -->
<div class="slider-top-text body">
    <!-- <div class="row"> -->
    <header class="masthead text-white">
        <div class="col-md-12 text-center">
            <img class="img-fluid image" src="../../../assets/images/children.png" alt="Chiques en ronda tomades de las manos">
            <div class="text-center">
                <ul class="navbar-nav ml-auto text-center">
                    <li class="nav-link marge">
                        <a class="btn btn-block btn-home" href="#">Iniciar sesión</a>
                    </li>
                    <li class="nav-link marge">
                        <a class="btn btn-block btn-home" href="#">Registrarme</a>
                    </li>
                </ul>
            </div>
        </div>
    <!-- </div> -->
    </header>
</div>
