<nav class="navbar fixed-top navbar-expand-lg navbar-dark mynav">
    <div class="container page-wrapper chiller-theme toggled">
        <div id="main">    
            <a class="navbar-brand" href="#">
                <h3 class="my-heading ">Estadisticas<span class="bg-main"></span></h3>
            </a>
        </div>
        <app-navbar></app-navbar>
    </div>
</nav>

<div class="page-wrapper chiller-theme toggled">
    <main class="page-content">
        <div class="container-fluid my_margin">

            <div class="slider-top-text body">
                <header class="masthead">
                    <div class="col-xs-12 contenido">
                        <div style="display: block">
                            <canvas mdbChart
                                [chartType]="chartType"
                                [datasets]="chartDatasets"
                                [labels]="chartLabels"
                                [colors]="chartColors"
                                [options]="chartOptions"
                                [legend]="true"
                                (chartHover)="chartHovered($event)"
                                (chartClick)="chartClicked($event)">
                            </canvas>
                        </div>

                    </div>
                </header>
            </div>
        </div>
    </main>
</div>