<nav class="navbar fixed-top navbar-expand-lg navbar-dark mynav">
    <div class="container">
        <div id="main">    
            <a class="navbar-brand" href="#">
                <h3 class="my-heading ">Autism<span class="bg-main">App</span></h3>
            </a>
        </div>
    
        <app-navbar></app-navbar>
    </div>
</nav>


<div class="slider-top-text body">
    <!-- <div class="row"> -->
    <header class="masthead text-white">
 
    <div class="col-xs-12 login-card text-center">

    <form id="" class="col-lg-12 text-center">
        <h2 class="text-center text-dark">Iniciar sesión</h2>
        <img class="img-fluid image" src="../../../assets/images/children.png" alt="Chiques en ronda tomades de las manos">
            
        <div style="clear:both;"></div>
        
        <div class="group">
            <input type="text" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label><i class="fa fa-user-circle"></i><span class="span-input">Usuario</span></label>
        </div>
        
        <div class="group">
            <input type="password" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label><i class="fa fa-lock"></i><span class="span-input">Contraseña</span></label>
        </div>
        
        <a href="javascript:void(0);" class="my-button">Iniciar sesión</a>
        
    </form>

    </div>

</header>
</div>