h1 Autism App
p Hola #{name}! 
p Su registro a Autism App fue realizado con exito.
|
|
p (style={color: 'red', background: 'green'}) Usuario: #{username}
|
|
p Este email fue generado automaticamente para #{email}. Por favor no respondas este email.