body {
	font-family: 'Open Sans', sans-serif !important;
    background-color: rgb(203, 155, 255);
    color: #222;
}

.navbar-shrink{
    padding-top: 0;
    padding-bottom: 0;
}
.mybg-dark {
    background: #000000 !important;
}

.mynav {
    background-color: rgb(138, 24, 255);
} 

header.masthead {
    background-color: rgb(255, 255, 255);
    margin-left: 20px;
    margin-right: 20px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 8rem;
}

header.masthead .overlay{
    position:absolute;
    height:100%;
    width:100%;
    top: 0px;
    left: 0px;
    right: 0px;
    opacity:.3
}

#main {
	float: left;
    transition: margin-right .5s;
    margin-left: 20px;
}

.testimonials{
    padding-top:5rem;
    padding-bottom:5rem;
    
}

.board{
    width: 100%;
    margin: 60px auto;
    height: 500px;
    background: #fff;
}
.board .nav-tabs {
    position: relative;
    margin-bottom: 0;
    box-sizing: border-box;
}

p.narrow{
    width: 60%;
    margin: 10px auto;
}

.liner{
    height: 2px;
    background: #ddd;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

span.round-tabs{
    width: auto;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    background: white;
    z-index: 2;
    left: 0;
    text-align: center;
    font-size: 25px;
}

.icon{
    margin-right: 10px;
    font-size: 12px;
    width: 30px;
    text-decoration: none;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 20px;
    background-color: #3e5e9a;
    color: #fff;
}

.linea{
    border-bottom: 2px solid #3e5e9a;
    width: 100%;
}

.button{
    flex: none;
}

span.round-tabs{
    color: #3e5e9a;
}

li.active span.round-tabs{
    background: #fff !important;
    border-bottom: 2px solid #3e5e9a;
    color: #3e5e9a;
}

.nav-tabs > li.active > a span.round-tabs{
    background: #fafafa;
}

.nav-tabs > li {
    width: 25%;
}

.nav-tabs > li a{
   width: auto;
   height: 70px;
   margin: 20px auto;
   border-radius: 100%;
   padding: 0;
}

.nav-tabs > li a:hover{
    background: transparent;
}

.tab-pane{
    position: relative;
}
.tab-content .head{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.btn-outline-rounded{
    padding: 10px 40px;
    margin: 20px 0;
    border: 2px solid transparent;
    border-radius: 25px;
}


@media( max-width : 585px ){

    .board {
        width: 90%;
        height:auto !important;
    }
    span.round-tabs {
        font-size:16px;
        height: 50px;
        line-height: 50px;
    }
    .tab-content .head{
        font-size:20px;
    }
    .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height:50px;
    }

    .nav-tabs > li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }

    .btn-outline-rounded {
        padding:12px 20px;
    }
    .nav-tabs > li {
        width: auto;
        padding-right: 10px;
    }
}


@media (min-width:768px) {
    header.masthead {
        padding-bottom: 12rem;
    }
    header.masthead h3 {
        font-size: 4rem;
    }
    #main {
        float: left;
        transition: margin-right .5s;
        margin-left: 20px;
    }
}

.testimonials{
    padding-top:5rem;
    padding-bottom:5rem;
    
}


#main {
	float: left;
    transition: margin-right .5s;
}


.body {
    background-color: rgb(203, 155, 255);
} 

.mynav {
    background-color: rgb(138, 24, 255);
} 

.image{
    width: 15%;
    padding-bottom: 20px;
}

body {
	font-family: 'Open Sans', sans-serif !important;
    background-color: rgb(203, 155, 255);
    color: #222;
}

.navbar-shrink{
    padding-top: 0;
    padding-bottom: 0;
}
.mybg-dark {
    background: #000000 !important;
}

header.masthead {
    background-color: rgb(255, 255, 255);
    margin-left: 20px;
    margin-right: 20px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 8rem;
}

header.masthead .overlay{
    position:absolute;
    height:100%;
    width:100%;
    top: 0px;
    left: 0px;
    right: 0px;
    opacity:.3
}


.testimonials{
    padding-top:5rem;
    padding-bottom:5rem;
    
}

.myform-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    /* background-color: #fff; */
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

button.btn.btn-light {
    position: absolute;
    background: transparent;
    border: none;
    height: 38px;
    right: 23px;
}

a.btn.btn-default.btn-scroll {
    border: 2px solid #fff;
    color: #000;
    border-radius: 100%;
}



.big-img img {
    height: 325px;
    width:100%;
    object-fit: cover;
}

.inner-section{
 position:relative;   
}
.container.slider-top-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.marge{
    margin-left: 40%;
    margin-right: 40%;
}

.btn-home {
    width: auto;
    color: rgb(255, 255, 255);
    background-color: rgb(150, 58, 230) !important;
    border: 1px solid rgb(121, 58, 230) !important;
}
.btn-home:hover{
    background-color: rgb(138, 4, 255) !important;
    border: 1px solid rgb(144, 85, 245)  !important;
}
.mfa-white {
    color: #fff !important;
}

h3.my-heading {
    font-family: 'Kaushan Script', cursive;
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    margin:0;
}

p.myp-slider.text-center {
    color: #fff;
}


.btn-circle {
    border-radius: 50%;
}

a.btn.btn-circle.my-social-btn {
    color: #fff;
    height: 40px;
    width: 40px;
}

.inner-section h3 {
    text-transform: uppercase;
    font-weight:bold;
}

.inner-section h3:after {
    content: '';
    position: absolute;
    border-bottom: 4px solid #008ba3;
    width: 100%;
    max-width: 10%;
    top: 37px;
    left: 0;
}
span.bg-main {
    color: rgb(181, 109, 255);
}

hr.my-border {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 2px solid #008ba3;
    width: 117px;
}

.linear-grid img {
    width: 100%;
    height: 124px;
    object-fit: cover;
}

.h-262 {
    height: 262px !important;
}

h3.title-heading.text-center {
    color: #fff;
    font-weight: bold;
}

p.myp.text-center {
    color: #fff;
    font-size: 14px;
    margin-bottom: 3rem;
}

.big-img2 img {
    height: 472px;
    width: 100%;
    object-fit: cover;
}

.my-grid img {
    height: 228px;
    width: 100%;
    object-fit: cover;
}


form{
    margin-top: 20px;
}

input[type=date]::-webkit-inner-spin-button,
  input[type=date]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }

  input[type=date] {
    -moz-appearance: textfield;
  }

.text-block {
    min-height: 228px;
    height: auto;
    background: #fff;
    padding: 15px;
}

h5.events-heading {
    font-weight: bold;
    font-size: 17px;
}

p.myp-font {
    font-size: 15px;
}


a.link-color {
    color: #008ba3;
    font-weight: bold;
}

.my-right-text {
    padding-top: 3rem;
}

/****/
.item {
position: relative;
}
.item img {
max-width: 100%;
-moz-transition: all 0.3s;
-webkit-transition: all 0.3s;
transition: all 0.3s;
}
.item:hover img {
-moz-transform: scale(1.4);
-webkit-transform: scale(1.4);
transform: scale(1.4);
}



/*sidebar navigation*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}
.container{
    padding-left: 0px;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 36px;
    margin-right: 15px;
}
/* #main {display: none;} */
#main {
	float: left;
    transition: margin-right .5s;
    margin-left: 20px;
}
a.openNav {
    font-size: 26px;
    color: #ffffff;
    margin-right: 30px;
    text-decoration: none;
}
.sidenav .nav-link {
	font-size: 13px;
	font-weight: bold;
}
.mob-ul {
    list-style-type: none;
    padding-left: 0;
}
.sidenav li{
	padding: 0 3px !important;
    position: relative;
}
.sidenav li a {
    padding: 10px 15px;
    text-transform: uppercase;
}

a:hover,
a:focus, p {
    text-decoration: none;
    color: rgb(4, 4, 66);
}

.floating-arrow {
    -webkit-animation: floating-arrow 1.6s infinite ease-in-out 0s;
    -o-animation: floating-arrow 1.6s infinite ease-in-out 0s;
    animation: floating-arrow 1.6s infinite ease-in-out 0s;
}

@keyframes floating-arrow {
    from {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    65% {
        -webkit-transform: translateY(11px);
        transform: translateY(11px);
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

footer.footer{padding-top:4rem;padding-bottom:4rem}

li.list-inline-item a {
    color: #fff;
    text-decoration: none;
}


/*-------------------responsive-----------------*/

@media screen and (max-width: 520px) {
    ::placeholder {
        font-size: 10px;
    }
    
    .text-block {
        padding: 15px;
    }
    .linear-grid img {
        width: 100%;
        height: 181px;
    }
    .my-grid img {
        width: 100%;
    }
   
   
}
@media screen and (max-width: 767px) {
    .btn-home{
       width:100%; 
    }
    .marge{
        margin-left: 30%;
        margin-right: 30%;
    }
    .image{
        padding-top: 20%;
        width: 50%;
    }
}



@media only screen and (min-width:2560px){}
@media only screen and (min-width:1600px) and (max-width:1920px){
	.navbar-toggler {display: none !important;}
}
@media only screen and (min-width:1440px){
	.navbar-toggler {display: none !important;}
}
@media only screen and (max-width: 1280px){
	.navbar-toggler {display: none !important;}
}
@media only screen and (max-width: 1024px){
	.navbar-toggler {display: none !important;}
	.mob-ul{list-style-type: none; padding-left: 0;}
	h5.events-heading{font-size:15px;}
	p.myp-font{font-size:13px;}
}
@media only screen and (min-width: 960px) and (max-width: 1023px) {
	.navbar-toggler {display: none !important;}
	.mob-ul{list-style-type: none; padding-left: 0;}
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .image{
        width: 40%;
    }
    .navbar-toggler {display: none !important;}
	#main {display: block;}
	.header-wrap .navbar .nav-link {color: #fff;}
	.mob-ul{list-style-type: none; padding-left: 0;}
	.header-wrap .sub-menu {width: 250px;}

}

@media only screen and (max-width:736px) and (orientation:landscape){
	.navbar-toggler {display: none !important;}
	#main {display: block;}
	.header-wrap .navbar .nav-link {color: #fff;}
	.mob-ul{list-style-type: none; padding-left: 0;}
	.header-wrap .sub-menu {width: 250px;}
}
@media only screen and (max-width:667px) and (orientation:landscape){
	.navbar-toggler {display: none !important;}
	#main {display: block;}
	.header-wrap .navbar .nav-link {color: #fff;}
	.mob-ul{list-style-type: none; padding-left: 0;}
	.header-wrap .sub-menu {width: 250px;}
}
@media only screen and (max-width:568px) and (orientation:landscape){
	.navbar-toggler {display: none !important;}
	#main {display: block;}
	.header-wrap .navbar .nav-link {color: #fff;}
	.mob-ul{list-style-type: none; padding-left: 0;}
	.header-wrap .sub-menu {width: 250px;}
}
@media only screen and (min-width: 600px) and (max-width: 767px) {
    h5.events-heading {
    font-size: 20px;
}
p.myp-font {
    font-size: 15px;
}
	.navbar-toggler {display: none !important;}
	#main {display: block;}
	.header-wrap .navbar .nav-link {color: #fff;}
	.mob-ul{list-style-type: none; padding-left: 0;}
	.header-wrap .sub-menu {width: 250px;}	
	.box img {height: 100%;}
}
@media only screen and (min-width: 480px) and (max-width: 599px) {
    .inner-section h3 {
        font-size: 18px;
    }
    h5.events-heading{font-size:15px;}
    .inner-section p {
    font-size: 13px;
    text-align: justify;
    }
    section#marketplace img {
     object-fit: cover;
    }
	.navbar-toggler {display: none !important;}
	#main {display: block;}
	.header-wrap .navbar .nav-link {color: #fff;}
	.mob-ul{list-style-type: none; padding-left: 0;}
	.header-wrap .sub-menu {width: 250px;}
	.box img {height: 100%;}
}
@media only screen and (min-width: 321px) and (max-width: 479px) {
    .inner-section h3 {
        font-size: 18px;
    }
    h5.events-heading{font-size:15px;}
    .inner-section p {
    font-size: 13px;
    text-align: justify;
    }
    section#marketplace img {
     object-fit: cover;
    }
	.navbar-toggler {display: none !important;}
	#main {display: block;}
	.header-wrap .navbar .nav-link {color: #fff;}
	.mob-ul{list-style-type: none; padding-left: 0;}
	.header-wrap .sub-menu {width: 250px;}	
	.box img {height: 100%;}
}
@media only screen and (max-width:568px) and (orientation:landscape){
	.navbar-toggler {display: none !important;}
	#main {display: block;}
	.header-wrap .navbar .nav-link {color: #fff;}
	.mob-ul{list-style-type: none; padding-left: 0;}
	.header-wrap .sub-menu {width: 250px;}
	.box img {height: 100%;}
}
@media only screen and (max-width: 320px) {
     .inner-section h3 {
        font-size: 18px;
    }
    h5.events-heading{font-size:15px;}
    .inner-section p {
    font-size: 13px;
    text-align: justify;
    }
    section#marketplace img {
     object-fit: cover;
    }
	.navbar-toggler {display: none !important;}
	#main {display: block;}
	.header-wrap .navbar .nav-link {color: #fff;}
	.mob-ul{list-style-type: none; padding-left: 0;}
	.header-wrap .sub-menu {width: 250px;}
	.box img {height: 100%;}
}




a:hover,
a:focus {
    text-decoration: none;
    color: #eee;
}
.login-card {
    min-height: 100vh;
    background-size: cover;

}
.login-card:after {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    opacity: 0.8;
    z-index: 3;
}
.login-card > form {
    z-index: 4;
    position: relative;
    padding: 0px 25px;
    width: 100%;
}
.logo-kapsul {
    text-align: center;
    position: relative;
    opacity: 0.8;
}
.logo {
    height: auto;
    padding: 50px 0px;
}


.group {
    position: relative;
    margin-bottom: 45px;
}
.group input {
    font-size: 18px;
    padding: 10px 10px 10px 10px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: none;
    color: rgba(0, 0, 0, 0.6);
}
.group input:focus {
    outline: none;
}


.group label {
    color: rgba(0, 0, 0, 0.5);
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 5px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}


.group input:focus ~ label,
input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
}


.bar {
    position: relative;
    display: block;
    width: 100%;
}
.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: rgba(255, 255, 255, 0.7);
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
.bar:before {
    left: 50%;
}
.bar:after {
    right: 50%;
}


.group input:focus ~ .bar:before,
.group input:focus ~ .bar:after {
    width: 50%;
}


.highlight {
    position: absolute;
    height: 0%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

.group input:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

@-webkit-keyframes inputHighlighter {
    from {
        background: rgba(255, 255, 255, 0.7);
    }
    to {
        width: 0;
        background: transparent;
    }
}
@-moz-keyframes inputHighlighter {
    from {
        background: rgba(255, 255, 255, 0.7);
    }
    to {
        width: 0;
        background: transparent;
    }
}
@keyframes inputHighlighter {
    from {
        background: rgba(255, 255, 255, 0.7);
    }
    to {
        width: 0;
        background: transparent;
    }
}
.input-ikon {
    font-size: 25px!important;
    position: relative;
}
.input-sifre-ikon {
    font-size: 22px!important;
    position: relative;
}
.span-input {
    margin-left: 10px;
    position: relative;
    top: -5px;
}
.my-button,
.kayit-ol-buton,
.sifre-hatirlat-buton {
    background: linear-gradient(-135deg, rgb(63, 81, 181), rgb(233, 30, 99));
    background: -webkit-linear-gradient(-135deg, rgb(63, 81, 181), rgb(233, 30, 99));
    display: block;
    text-align: center;
    text-decoration: none;
    color: #eee;
    font-family: roboto;
    font-weight: 100;
    padding: 10px;
    border-radius: 3px;
    outline: none;
    opacity: 0.8;
}
.forgot-and-create {
    margin: 20px 0px;
}
.forgot-and-create a {
    color: #bbb;
    font-size: 12px;
    text-decoration: none;
    font-weight: 100;
    margin-right: 10px;
}

.zaten-hesap-var-link {
    color: #bbb;
    font-size: 14px;
    padding: 20px 0px;
    text-decoration: none;
    display: block;
}