<nav class="navbar fixed-top navbar-expand-lg navbar-dark mynav">
    <div class="container">
        <div id="main">    
            <a class="navbar-brand" href="#">
                <h3 class="my-heading ">Sobre denver<span class="bg-main"></span></h3>
            </a>
        </div>
        <app-navbar></app-navbar>
    </div>
</nav>

<div class="slider-top-text body">
    <header class="masthead">
        <div class="col-md-12 text-center contenido">
            <ul class="event-list">
                <li>
                    <time datetime="">
                        <span class="day">1</span>
                    </time>
                    <div class="info">
                        <h2 class="title">Primer paso</h2>
                        <p class="desc">Se realiza una evaluación inicial con un chequeo de diversas áreas. </p>
                    </div>
                </li>
                <li>
                    <time datetime="">
                        <span class="day">2</span>
                    </time>
                    <div class="info">
                        <h2 class="title">Segundo paso</h2>
                        <p class="desc"> Se establecen objetivos para 12 semanas, divididos por áreas de desarrollo. Estos objetivos están definidos por el dominio que tenga el niño/a de una habilidad o destreza, con distintas personas y contextos. Estos objetivos deben ser funcionales y adaptativos al contexto.                                                  
                        </p>
                    </div>
                </li>
                <li>
                    <time datetime="">
                        <span class="day">3</span>
                    </time>
                    <div class="info overflow-auto">
                        <h2 class="title">Tercer paso</h2>
                        <p class="desc">Se llevan a cabo las rutinas propuestas. Las rutinas de actividades del ESDM se caracterizan por seguir los intereses y las elecciones de la/el infante, apuntando a objetivos de diferentes áreas de desarrollo,
                            integrando diferentes objetivos en una actividad. 
                            Existen dos tipos de rutinas, las rutinas con objetos, donde se utiliza un juguete u objeto de intercambio, con el objetivo desarrollar habilidades de atención conjunta. Por otro lado, 
                            las rutinas sensoriales se enfocan en una interacción didádica en la que dos personas están involucradas en la misma actividad, de manera recíproca.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </header>
</div>